- Import Packages

In [1]:
import json
import jieba
import pandas
import random

- Load Data

In [2]:
tf_dict = json.load(open('tf_dict.json','r'))
idf_dict = json.load(open('idf_dict.json','r'))
tfidf_dict = json.load(open('tfidf_dict.json','r'))
train_data = json.load(open('train_data.json','r'))
test_data = json.load(open('test_data.json','r'))

- Predict Training Data

In [3]:
event_class_list = []
for event_class in iter(tfidf_dict):
    event_class_list.append(event_class)

for data in train_data:    
    guess = random.randint(0,12)
    data['predicted_class'] = event_class_list[guess]

- Predict Testing Data

In [5]:
event_class_list = []
for event_class in iter(tfidf_dict):
    event_class_list.append(event_class)

for data in test_data:    
    guess = random.randint(0,12)
    data['predicted_class'] = event_class_list[guess]

- Training Error

In [6]:
count = 0
for data in train_data:
    if data['predicted_class'] != data['class']:
        count += 1
print(count/len(train_data))

0.924376789330354

- Testing Error

In [7]:
count = 0
for data in test_data:
    if data['predicted_class'] != data['class']:
        count += 1
print(count/len(test_data))

0.9232058084333985

- Training Fusion Matrix

In [8]:
train_data_fusion_matrix = [[0 for i in range(13)] for i in range(13)]
event_class_list = []
for event_class in iter(tfidf_dict):
    event_class_list.append(event_class)
for data in train_data:
    train_data_fusion_matrix[event_class_list.index(data['predicted_class'])][event_class_list.index(data['class'])] += 1
train_data_fusion_matrix = pandas.DataFrame(train_data_fusion_matrix)
train_data_fusion_matrix.columns = event_class_list #actual_class
train_data_fusion_matrix.index = event_class_list #predicted_class
train_data_fusion_matrix

,arts,photography,other,charity,travel,education,food,business,technology,entertainment,sports,fashion,health
arts,212,20,121,75,116,3,62,191,136,50,53,20,49
photography,208,24,97,78,93,1,71,220,122,38,55,15,50
other,213,33,106,59,106,1,67,231,125,34,48,25,38
charity,187,29,123,45,104,4,81,215,144,33,48,16,54
travel,202,22,111,50,122,3,60,252,149,36,50,24,53
education,189,24,113,60,116,3,72,201,115,38,58,21,53
food,230,26,125,57,116,3,73,217,136,49,47,22,48
business,237,25,113,70,86,2,69,215,146,48,61,20,42
technology,215,30,114,61,104,5,68,206,111,38,51,12,59
entertainment,190,19,113,69,101,5,77,234,122,42,62,17,42
sports,221,30,110,67,112,4,58,236,115,31,72,17,55
fashion,238,22,114,58,117,0,74,210,137,37,49,17,59
health,201,26,106,65,108,4,71,226,122,31,49,15,41

- Testing Fusion Matrix

In [9]:
test_data_fusion_matrix = [[0 for i in range(13)] for i in range(13)]
event_class_list = []
for event_class in iter(tfidf_dict):
    event_class_list.append(event_class)
for data in test_data:
    test_data_fusion_matrix[event_class_list.index(data['predicted_class'])][event_class_list.index(data['class'])] += 1
test_data_fusion_matrix = pandas.DataFrame(test_data_fusion_matrix)
test_data_fusion_matrix.columns = event_class_list #actual_class
test_data_fusion_matrix.index = event_class_list #predicted_class
test_data_fusion_matrix

,arts,photography,other,charity,travel,education,food,business,technology,entertainment,sports,fashion,health
arts,58,9,18,13,24,0,23,46,30,7,18,3,10
photography,60,7,28,15,24,0,20,66,35,9,15,3,11
other,42,7,29,15,35,2,15,47,23,9,11,3,9
charity,59,4,35,17,23,1,25,53,36,6,6,3,15
travel,54,11,37,8,29,0,20,51,31,8,19,5,15
education,48,10,34,19,31,1,22,60,39,12,9,4,9
food,59,7,28,12,25,0,13,54,15,13,23,4,12
business,53,7,24,20,21,0,24,53,34,11,11,9,14
technology,62,11,39,16,26,0,16,58,27,11,9,3,14
entertainment,48,6,34,15,31,0,22,67,37,14,19,3,16
sports,59,9,22,17,19,0,13,49,26,5,12,1,8
fashion,52,11,28,14,27,1,16,53,21,11,11,5,13
health,40,6,32,16,20,0,16,55,34,10,18,3,10